@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --primary-color: #282728;
  --secondary-color: #565656;
  --third-color: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Ubunto", sans-serif;
  color: #dcdcdc;
  line-height: 1.6;
  /* background-color: var(--primary-color); */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.navbar {
  background-color: var(--primary-color);
  color: white;
  height: 90px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: white;
  font-weight: 300;
  font-size: 13px;
  font-family: "Titillium Web", sans-serif;
}

.navbar li:nth-child(2) {
  margin-right: 5px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar .logo {
  padding-left: 10px;
  display: flex;
  justify-content: center;
}

/* Showcase Section */

.showcase {
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
  height: 450px;
}

.showcase img {
  width: 95%;
  margin-left: 15px;
}

.showcase-text {
  padding-left: 50px;
  color: #dcdcdc;
}

.showcase-text h1 {
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
  max-width: 600px;
}

.showcase-text h2 {
  font-size: 24px;
  font-weight: 300;
}

.showcase-text p {
  font-weight: 300;
  margin: 20px 0;
  font-size: 17px;
}

/* Logos */

.logos .flex {
  flex-wrap: wrap;
}

.logos {
  padding: 10px;
}

.logos img {
  padding: 20px;
}

/* Features */

.features {
  background-image: url("/img/bg-featuresection.png");
  background-size: 100% 100%;
}

.features-title h2 {
  font-weight: 400;
  font-size: 32px;
}

.features img {
  max-width: 100%;
  padding: 0px 15px;
  align-self: start;
}

.features .showcase-text {
  padding: 0px 15px;
  align-self: end;
}

.features .showcase-text p {
  margin-bottom: 0;
}

.features-content-1 {
  padding: 15px 0px;
}

.features-content {
  padding: 30px 0px;
}

/* Button nav */

.game-section {
  padding: 15px 15px;
  background-image: url(/img/homepage-bg.jpeg);
}

.game-nav .tablinks {
  display: inline-block;
  background-color: #272627;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #565656;
  font-size: 22px;
  cursor: pointer;
  margin-bottom: 15px;
  font-weight: 100;
  width: 100%;
}

.game-section video {
  width: 95%;
}
