.container {
  max-width: 1400px;
  margin: 0 auto;
  overflow: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-reversed :first-child {
  order: 2;
}

.grid-template-1 {
  grid-template-columns: 55% 45%;
  gap: 0;
}

.grid-template-2 {
  grid-template-columns: 45% 55%;
  gap: 0;
}

.grid-template-5 {
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--third-color);
  color: #fff;
  border: none;
  border-radius: 6px;
  margin: 0 5px;
  transition: transform 0.2s ease;
}

.btn-press {
  padding: 10px 22px;
  background-color: var(--secondary-color);
}

.btn-press:hover,
.btn-signin:hover {
  color: orange;
  transform: scale(1.05);
}

.btn-signup {
  border-radius: 4px;
  background-color: #26abba;
  font-weight: bold;
  padding: 6px 25px;
  text-transform: uppercase;
  box-shadow: 2px 2px 3px black;
  transition: 0.1s ease-in-out;
}

.btn-learn {
  border-radius: 4px;
  background-color: #ffffff;
  color: #000;
  font-weight: bold;
  padding: 6px 35px;
  text-transform: uppercase;
  box-shadow: 2px 2px 3px black;
  transition: 0.2s ease-in-out;
}

.btn-signup:hover,
.btn-learn:hover {
  transform: translateY(-5px);
  box-shadow: 2px 4px 5px black;
}

/* Margin */

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}

.pt-4 {
  padding-top: 3rem;
}

.yellow {
  color: yellow;
  margin: 5px;
}

.green {
  color: greenyellow;
  margin: 5px;
}
